.songsPage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    69deg,
    rgba(0, 0, 0, 1) 28%,
    rgba(80, 80, 80, 1) 87%
  );
  background-size: cover;

  .filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;

    .sortersDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 5px;

      .sortSpan {
        font-size: 18px;
      }
      .sorterIcon {
        cursor: pointer;
      }
      .sorterIcon:hover {
        transition: 1s;
        color: gray;
      }
    }
    .sorters {
      position: absolute;
      all: unset;
      cursor: pointer;
      border: 2px solid black;
      color: black;
      border-radius: 10px;
      padding: 4px;
      width: 100px;
      height: 50px;
      text-align: center;
      transition: all 0.2s;
      background-color: whitesmoke;

      &:hover {
        color: black;
        background-color: rgb(201, 201, 201);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .add-song {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .add-song-text {
      font-family: "Abel", sans-serif;
      font-size: 20px;

      & button {
        all: unset;
        cursor: pointer;
        border: 2px solid black;
        color: black;
        border-radius: 10px;
        padding: 4px;
        width: 100px;
        height: 50px;
        text-align: center;
        transition: all 0.2s;
        background-color: whitesmoke;

        &:hover {
          color: black;
          background-color: rgb(201, 201, 201);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;

    .song {
      display: flex;
      flex-direction: row;
      padding: 5px 10px 5px 10px;
      margin-top: 5px;
      border-radius: 3px;

      &:hover {
        background-color: #909090ae;
        .id {
          color: black;
        }
      }

      .id {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px 0 10px;
        width: 30px;
        font-size: 18px;
      }
      .img {
        margin: 0px 20px;
        height: 70px;
        cursor: pointer;
      }

      .name-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name-artist {
          width: 170px;
          font-weight: bold;
        }

        .name-music {
          color: lightgray;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .album {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 170px;
      }
      .year {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 170px;
        align-items: center;
      }
    }
  }
}
